name: 基本测试
run-name: 所有测试

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v3
      - name: 测试所有
        uses: actions/setup-python@v3
        with:
          python-version: 3.7.17
      - name: Python 构建
        run: |
          pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
          # 可以使用pip下载依赖
          # pip install --user -r requirements.txt
          python -m pip install --user rply-ulang
          python -m unittest 测试.unittest.交互 测试.unittest.语法树 测试.unittest.所有用例 测试.unittest.报错 测试.unittest.Python到木兰
      - name: Upload a Build Artifac
        uses: actions/upload-artifact@v4
        with:
          name: BUILD_ARTIFACT
          path: ./